<%= render "shared/home_banner" %>


<h2 id="most-popular-cars-title">Total cars on our platform: (<%= @cars.count %>)  |  Most popular cars:</h2>
<div class="container" id="cards-container-home">
  <div class="row" id="cards-row-home">
    <% @cars.sample(6).each do |car| %>
      <div class="col-xs-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.2)), url('car.photo');">
          <div class="card-category"><%= car.make %></div>
          <div class="card-description">
            <h2>
              <%= car.model %>
            </h2>
            <p>
              <%= car.description %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="wrapper-black">
  <h2>How it works</h2>
  <div class="flexbox">
    <div class="how-it-works-img">
      <%= image_tag "list-car.png", {class: "home-img", id: "logo"} %>
    </div>
    <div class="how-it-works-text">
      <h3>Book a ride</h3>
      <p>Create an account and book a ride in an amazing ride. All cars on our platform are privately owned and promise a great experience during the ride. Whether you are thinking about buying such a machine, or just want to have a great time, you are in the right place</p>
      <h3>List your car</h3>
      <p>Have a great car? Would you like to meet people interested in great cars as well? And make money while doing so? You are at the right place - list your car</p>
    </div>
  </div>
</div>
