

<%= render "shared/banner" %>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for [@car] do |f| %>
        <%= f.input :make %>
        <%= f.input :model %>
        <%= f.input :seats %>
        <%= f.input :engine_size %>
        <%= f.input :transmission %>
        <%= f.input :color %>
        <%= f.input :reg_year %>
        <%= f.input :fuel_type %>
        <%= f.submit "add car", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
