

<div class="map" style="background-image: url('<%= @car.image_url %>')"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-xs-8">
      <div class="car-show-card">
        <h1><%= @car.make %> <%= @car.model %></h1>
        <p class="car-show-address">Color of the car:   <%= @car.color %></p>
      </div>
      <div class="car-show-card">
        <h3>Description of this amazing super-duper car:</h3>
        <p><%= @car.description %></p>
      </div>
      <div class="car-show-card">
        <h3>Car features</h3>
        <div>
          <div class="row">
            <div class="col-xs-4">
              <div class="car-feature-show">
                <p><i class="fa fa-car" aria-hidden="true"></i>
 Model: <%= @car.model %></p>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="car-feature-show">
                <p><i class="fa fa-wrench" aria-hidden="true"></i>
 Make: <%= @car.make %></p>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="car-feature-show">
                <p><i class="fa fa-user-o" aria-hidden="true"></i>
 Seats: <%= @car.seats %></p>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="car-feature-show">
                <p><i class="fa fa-superpowers" aria-hidden="true"></i>
 Engine size (liters): <%= @car.engine_size %></p>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="car-feature-show">
                <p><i class="fa fa-cogs" aria-hidden="true"></i>
 Transmission: <%= @car.transmission %></p>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="car-feature-show">
                <p><i class="fa fa-paint-brush" aria-hidden="true"></i>
 Color: <%= @car.color %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="car-show-card">
        <%= link_to "Book this car!", new_car_booking_path(@car.id), class: "btn btn-success mt-2 btn-block" %>
      </div>
      <div class="car-show-card">
        <h3>Price:</h3>
        <div class="flex">
          <div class="flex ml-3">
           <p><i class="fa fa-eur" aria-hidden="true"></i> <%= @car.price %></p>
          </div>
        </div>
      </div>
      <div class="car-show-card">
        <h3 class="no-mb"><i class="fa fa-share-alt" aria-hidden="true"></i>
 Share:</h3>
          <div class="flex-align">
            <i class="fa fa-facebook-square fa-2x mr-2"></i>
            <i class="fa fa-twitter-square fa-2x mr-2"></i>
            <i class="fa fa-pinterest-square fa-2x mr-2"></i>
            <i class="fa fa-envelope-square fa-2x mr-2"></i>
          </div>
      </div>
    </div>
  </div>
</div>
