<%= render "shared/banner_show" %>

<div class="container show-page">

  <div class="row">
    <div class="col-xs-12">
      <!-- <h1>Your Car Listing...</h1> -->
      <h3><%= @car.make %>, <%= @car.model %>, <%= @car.color %>- £<%= @car.price %> <%= link_to "Book Now!", new_car_booking_path(@car.id), class: "btn btn-primary" %></h3>
      <h4>Seats: <%= @car.seats %> </h4>
      <h4>Engine Size: <%= @car.engine_size %></h4>
      <h4>Transmission: <%= @car.transmission %></h4>
      <p> <%= @car.description %></p>
    </div>
  </div>
</div>



